body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #fae1dd;
}
.container {
    position: relative;
}
.valentine {
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
}
.envelope {
    position: relative;
    width: 300px;
    height: 200px;
    background: #f08080;
    display: grid;
    place-items: center;
}
.envelope:before {
    background: #f08080;
    content:"";
    position: absolute;
    width: 212px;
    height: 212px;
    transform: rotate(45deg);
    top:-105px;
    left: 44px;
    border-radius:30px 0 0 0;
}

.front {
    position:absolute;
    border-right:180px solid #f4978e;
    border-top:95px solid transparent;
    border-bottom:100px solid transparent;
    left:120px;
    top:5px;
    width:0;
    height:0;
    z-index:10;
}

.front:before {
    position:absolute;
    content:"";
    border-left:300px solid #f8ad9d;
    border-top:195px solid transparent;
    left:-120px;
    top:-95px;
}

.card {
    position: relative;
    width: 250px;
    height: 180px;
    background: #eae2b7;
    border-radius: 2px;
    display: grid;
    place-items: center;
    transition: 1s;
}

.card:before {
    content:"";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid #003049;
    border-style: dashed;
}
.valentine:hover .card {
    transform: translateY(-100px);
}
.card .text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    color: #003049;
}
.card .heart {
    position: relative;
    width: 35px;
    height: 35px;
    background: red;
    bottom: 20px;
    transform: rotate(45deg);
    border-radius: 50% 0 0 50%;
}
.card .heart::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 0 50% 50% 0;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: top;
}
.card .heart::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    right: -18px;
}
@keyframes up {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}
.valentine::before {
    content: "";
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0,0,0, .3);
    top: 265px;
    left: -15px;
    animation: scale 3s linear infinite;
}
@keyframes scale {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(.85);
    }
}

.hearts {
    position: absolute;
    top: 15px;
}

@keyframes heart {
    0%{
        transform: translateY(0) rotate(-130deg) scale(0.3);
        opacity:1;
    }
    100%{
        transform: translateY(-150px) rotate(-130deg) scale(1.3);
        opacity:0.5;
    }
}

.one, .two, .three, .four, .five {
    background-color: red;
    display: inline-block;
    height:10px;
    margin:0 10px;
    position: relative;
    transform:rotate(-45deg);
    width:10px;
    top:50px;
}

.one:before, .one:after, .two:before, .two:after, .three:before, .three:after, .four:before, .four:after, .five:before, .five:after {
    content: "";
    background-color: red;
    border-radius:50%;
    height:10px;
    position: absolute;
    width:10px;
}

.one:before, .two:before, .three:before, .four:before, .five:before {
    top:5px;
    left:0;
}

.one:after, .two:after, .three:after, .four:after, .five:after {
    left:5px;
    top:0;
}

.one {
    left:10px;
    animation: heart 2s ease-out infinite;
}

.two {
    left:30px;
    animation: heart 2s ease-out infinite;
}

.three {
    left:50px;
    animation: heart 1.5s ease-out infinite;
}

.four {
    left:70px;
    animation: heart 2.3s ease-out infinite;
}

.five {
    left:90px;
    animation: heart 1.7s ease-out infinite;
}